<!-- Sección de vinos destacados -->
<section id="vinos">
  <div class="section-header">
    <h2 class="section-title">Nuestra Selección de Vinos</h2>
    <p class="section-subtitle">
      Descubre nuestros vinos más exclusivos, para los paladares más exigentes
    </p>
  </div>

  <div class="wine-grid">

    <!-- Vino 3 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/vinos/vineDonAlejandro.png"
          alt="Vino Rosado"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        
        
        <h3 class="wine-name">Vino Tinto Don Alejandro</h3>
        
        <p class="wine-description">
          Vino tinto semiseco, tonalidad rubí intensa, equilibrio perfecto entre
          dulzor y acidez.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€189.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/vinoTintoDonAlejandro"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>
    </div>

    <!-- Vino 1 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/vinos/vineSecoNaranja.png"
          alt="Vino Tinto Reserva"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        {{! <span class="wine-category">Vino Dulce</span> }}
        <h3 class="wine-name">Vino Dulce de Naranja</h3>
        
        <p class="wine-description">
          Vino dulce, cítrico y refrescante con notas de aceite de la cáscara de
          naranja.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€899.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/vinoDulceNaranja"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>

    </div>

    <!-- Vino 4 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/vinos/vinoTintoJaboticaba.png"
          alt="Vino Rosado"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        {{! <span class="wine-category">Vino tinto dulce</span> }}
        <h3 class="wine-name">Vino Tinto Dulce de Jaboticaba</h3>
        
        <p class="wine-description">
          Vino tinto de color intenso, con sabor afrutado, suave al paladar.

        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€189.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/vinoTintoJaboticaba"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>
    </div>

    <!-- Vino 2 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/vinos/vineBlancoNaranja.png"
          alt="Vino Blanco"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        {{! <span class="wine-category">Vino Blanco Dulce</span> }}
        <h3 class="wine-name">Vino Blanco de Jaboticaba</h3>
      
        <p class="wine-description">
          Vino ligero con aroma floral, equilibrado y vigoroso, suave al
          paladar.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€1,250.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/vinoBlancoNaranja"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>
    </div>

  </div>
</section>

<!-- Sección de Licores -->
<section id="licores">
  <div class="section-header">
    <h2 class="section-title">Nuestra Selección de Licores Mangulina</h2>
    <p class="section-subtitle">
      Descubre nuestros exquisitos licores, seleccionados meticulosamente
      para los paladares más exigentes
    </p>
  </div>

  <div class="wine-grid">
    <!-- Licor 1 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/licores/licorDeCarambola.png"
          alt="Vino Tinto Reserva"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        <!-- <span class="wine-category">Tinto Reserva</span> -->
        <h3 class="wine-name">Licor de Carambola</h3>
       
        <p class="wine-description">
          Un licor fresco y exótico, con notas cítricas y un equilibro suave.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€899.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/licorCarambola"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>

    </div>

    <!-- Licor 2 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/licores/licorDeDurazno.png"
          alt="Vino Blanco"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        <!-- <span class="wine-category">Blanco Fermentado en Barrica</span> -->
        <h3 class="wine-name">Licor de Durazno</h3>
      
        <p class="wine-description">
          Dulce y aterciopelado, este licor combina el sabor jugoso del durazno
          con un toque cálido.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€1,250.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a href="/licorDurazno" class="vine-cta">Ver
            Detalles</a></i>
      </div>
    </div>

    <!-- Licor 3 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/licores/licorDeJaboticaba.png"
          alt="Vino Rosado"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        <!-- <span class="wine-category">Rosado Premium</span> -->
        <h3 class="wine-name">Licor de Jaboticaba</h3>
        
        <p class="wine-description">
          Un licor elegante y afrutado con intensas notas de frutas negras y un
          toque floral.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€189.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/licorJaboticaba"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>
    </div>

    <!-- Licor 4 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/licores/licorDeNance.png"
          alt="Vino Rosado"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        <!-- <span class="wine-category">Rosado Premium</span> -->
        <h3 class="wine-name">Licor de Nance</h3>
      
        <p class="wine-description">
          Sabor tropical y dulce, este licor destaca por sus aromas
          característicos de un nance maduro.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€189.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a href="/licorNance" class="vine-cta">Ver
            Detalles</a></i>
      </div>
    </div>

  </div>
</section>

<!-- Sección "Sobre nosotros" -->
<section class="about-section" id="sobre-nosotros">

  <div class="section-header-about">
    <h2>Nuestra Historia</h2>
  </div>
  <div class="about-content">
    <div class="about-image">
      <img
        src="/img/img.jpeg"
        alt="Hato Mayor - Vinos y Licores Artesanales"
        srcset=""
      />
    </div>

    <div class="about-text">
      <h3>De una fruta exótica a un vino hondureño galardonado</h3>
      <p>
        La historia del vino
        <strong>Hato Mayor</strong>
        comienza en 1992, cuando nuestros productores deciden establecer un
        huerto frutal en tierras hondureñas. Entre las muchas variedades
        sembradas, sin saberlo, plantaron un árbol singular: la
        <strong>jaboticaba</strong>, una fruta originaria de Brasil, traída a
        Honduras en 1926 por el botánico Dr. Wilson Popenoe.
      </p>
      <p>
        Pasaron más de 11 años hasta que los árboles comenzaron a dar frutos. De
        sabor agridulce y delicioso, la jaboticaba fue utilizada en refrescos y
        mermeladas. Pero con el tiempo, la producción se volvió tan abundante
        que gran parte se perdía por falta de mercado.
      </p>
      <p>
        Fue entonces cuando el Ingeniero forestal Alexis Sánchez decidió
        investigar cómo aprovechar esta fruta única. Descubrió que la jaboticaba
        tenía notables beneficios para la salud y que en Brasil se elaboraban
        finos licores con ella. Así comenzó un camino autodidacta en la
        elaboración de vinos, compartiendo sus primeras creaciones con
        familiares y amigos, quienes quedaron fascinados por su sabor.
      </p>
    </div>
  </div>
  <div class="about-text">
    <p>
      Motivado por esa respuesta, en
      <strong>2013 se funda la Empresa AGROSILVOPASTORIL Villa San Pablo
        (EMAVISAPA, S. de R. L.)</strong>, con el objetivo de llevar al mercado
      vinos únicos.
    </p>
    <p>
      El reconocimiento internacional no tardó en llegar. En 2015, los vinos
      <strong>Hato Mayor</strong>
      debutaron en el prestigioso
      <strong>China Wine & Spirits Awards</strong>, obteniendo medalla de
      <strong>oro</strong>
      para el vino tinto semi-seco Don Alejandro y
      <strong>dos medallas de bronce</strong>
      para los vinos dulce y de naranja. En los años siguientes, EMAVISAPA, S de
      R.L., con la marca de licores
      <strong>MANGULINA</strong>
      continuaron cosechando premios en Alemania, Francia y recientemente, en
      <strong>Londres (2025)</strong>, donde el vino de naranja obtuvo medalla
      de
      <strong>plata</strong>
      en el
      <strong>London Tasting Awards</strong>.
    </p>
  </div>
  <div class="nosotros">
    <div class="nosotros-about">
      <h2>
        Acerca de Nosotros
      </h2>
    </div>

    <div class="text-nosotros">
      <p>
        En
        <strong>Hato Mayor</strong>, transformamos una fruta exótica en una joya
        enológica. Lo que empezó como una curiosidad
        frutal, se convirtió años después en vinos únicos, elaborados con
        pasión.
        
        Desde 2013, bajo la empresa
        <strong>EMAVISAPA S. de R. L.</strong>, llevamos el sabor de Honduras al
        mundo. 
      </p>
    </div>
  </div>
  <div class="mission-vision">
    <div class="card">
      <h3>Misión</h3>
      <p>Elaborar los mejores vinos y licores artesanales, continuar el proceso
        de perfeccionamiento para producir un producto de excelencia, que
        permita contribuir a fomentar la cultura del vino.</p>
    </div>

    <div class="card">
      <h3>Visión</h3>
      <p>Ser una empresa líder en la elaboración de vinos y licores artesanales
        de alta calidad, generando un ambiente de trabajo óptimo que permita ser
        competitiva y mejorar el nivel de vida de nuestro personal, garantizando
        la satisfacción de nuestros clientes.</p>
    </div>
  </div>

  <div class="awards">
    <h3>Reconocimientos Internacionales</h3>
    <div class="awards-list">
      <div class="award-item">
        <img
          src="/img/reconocimientos/silverLondon.PNG"
          alt="Medalla de Plata"
        />
        <h4>Medalla de Plata</h4>
        <p>London Tasting Awards 2025</p>
      </div>

      <div class="award-item">
        <img src="/img/reconocimientos/silverLyon.PNG" alt="Medalla de Plata" />
        <h4>Medalla de Plata</h4>
        <p>Concours International DE LYON 2019</p>
      </div>

      <div class="award-item">
        <img
          src="/img/reconocimientos/frankfurtGold.PNG"
          alt="Medalla de Oro"
        />
        <h4>Medalla de Oro</h4>
        <p>Frankfurt International Trophy 2018</p>
      </div>

      <div class="award-item">
        <img src="/img/reconocimientos/goldMedal.PNG" alt="Medalla de Oro" />
        <h4>Medalla de Oro</h4>
        <p>CWSA 2015 - Hong Kong - China"</p>
      </div>

      <div class="award-item">
        <img
          src="/img/reconocimientos/bronzeMedal.PNG"
          alt="Medalla de Bronce"
        />
        <h4>Medalla de Bronce</h4>
        <p>CWSA 2015 - Hong Kong - China"</p>
      </div>

    </div>
    <h4>Una historia hecha con pasión. </h4>
    <p>En Hato Mayor, creemos que lo auténtico trasciende fronteras. Lo que
      nació de un árbol poco conocido se ha convertido en un símbolo de 
      identidad y calidad, llevando el sabor de Honduras al mundo.</p>
  </div>

</section>

<!-- Sección de donde encontrarnos -->
<section id="nuestros-vinos">
  <div class="section-header">
    <h2 class="section-title">¿Dónde encontrarnos?</h2>
  </div>

  <div class="tabs-container">
    <!-- Grid de Contenido -->
    <div class="tab-pane">
      <div class="tab-grid">
        <div class="tab-feature">
          <h4 class="feature-title">Tegucigalpa</h4>
          <p class="feature-text">Delikatessen</p>
          <p class="feature-text">Diprova</p>
          <p class="feature-text">Tienda Licores El Remate Stock-Florencia</p>
          <p class="feature-text">El Remate, Mall Premier</p>
          <p class="feature-text">Estación de Servicios PUMA La Germania</p>
          <p class="feature-text">Estación de Servicios Texaco Mateo</p>
          <p class="feature-text">Estación de Servicios Texaco Guanacaste</p>
          <p class="feature-text">Estación de UNO La Pradera</p>
          <p class="feature-text">Estación de Servicios UNO Reforma</p>
          <p class="feature-text">Supermercados Mas x Menos</p>
          <p class="feature-text">Supermercado YIP</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Siguatepeque</h4>
          <p class="feature-text">Comedor Suyapa #1</p>
          <p class="feature-text">Comedor Suyapa #2</p>
          <p class="feature-text">Gasolinera Texaco Cruz</p>
          <p class="feature-text">Gasolinera Texaco Valeriano</p>
          <p class="feature-text">Granja D'Elia</p>
          <p class="feature-text">Restaurante Don Tiki</p>
          <p class="feature-text">Restaurante Villa Verde</p>
          <p class="feature-text">Restaurante Los Jaros</p>
          <p class="feature-text">Supermercado Del Corral</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Lago de Yojoa</h4>
          <p class="feature-text">Centro Turístico La Naturaleza</p>
          <p class="feature-text">Complejo Turístico Lagolandia</p>
          <p class="feature-text">Gasolinera PUMA El Bambú</p>
          <p class="feature-text">Honduyate</p>
          <p class="feature-text">PANACAM Lodge</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Comayagua</h4>
          <p class="feature-text">Hotel Antigua Comayagua</p>
          <p class="feature-text">Supermercados Del Corral</p>
          <p class="feature-text">Gasolinera Texaco Colonial</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Guaimaca</h4>
          <p class="feature-text">Estación de Servicios PUMA Galo</p>
          <p class="feature-text">Estación de Servicios Texaco</p>
          <p class="feature-text">Depósito Cristopher</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">San Lorenzo</h4>
          <p class="feature-text">Estación de Servicios PUMA Alto Verde</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">San Pedro Sula</h4>
          <p class="feature-text">Comisariato Los Andes</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Taulabé</h4>
          <p class="feature-text">TEXACO Taulabé</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Valle de Ángeles</h4>
          <p class="feature-text">Souvenir La Banana</p>
        </div>
      </div>
    </div>
  </div>
</section>