<!-- Hero section para detalle de producto -->
<section class="product-hero">
  <div class="product-image-container">
    <img
      src="img/licoresCatalogo/licorDeDurazno.png"
      alt="Don Alejandro - Vino Tinto Reserva"
      class="product-image"
    />
    {{!-- <span class="product-badge">Reserva Especial</span> --}}
  </div>

  <div class="product-info">
    <h1 class="product-title">Licor de Durazno</h1>
    <h2 class="product-subtitle">Prunus pérsica</h2>

    <p class="product-description">
      Es un exquisito y autentico licor natural, color miel, de aroma y sabor
      suave y fragante enamora el paladar con un dulzor que encanta.
    </p>

    <div class="product-details">
      <div class="detail-item">
        <!-- <span class="detail-label"></span> -->
        <span class="detail-value">
          El árbol de durazno puede medir hasta 8 metros caducifolio e inerme,
          procede de Afganistán, China e Irán, fue llevado a Occidente por los
          romanos que lo tomaron como originario de Persia y asi lo denominaron,
          "persica".

          <br /><br />

          El durazno es rico en vitaminas A, B1, B2, vitamina C, carotenoides,
          polifenoles, alto contenido en potasio, fósforo y magnesio.

        </span>
      </div>

    </div>
  </div>
</section>

<!-- Sección de características -->
<section class="product-features">
  {{!-- <div class="section-header">
    <h2 class="section-title">Características Exclusivas</h2> 
    <p class="section-subtitle">
      Descubre lo que hace especial al Don Alejandro
    </p> 
  </div> --}}

  <div class="features-grid">
    {{!-- <div class="feature-card">
      <div class="feature-icon">
        <i class="fas fa-wine-bottle"></i>
      </div>
      <h3 class="feature-title">Elaboración Artesanal</h3>
      <p>
        Producido con métodos tradicionales y atención al detalle en cada etapa
        del proceso, desde la vendimia hasta el embotellado.
      </p>
    </div> --}}

    <div class="feature-card">
      <div class="feature-icon">
        <i class="fas fa-award"></i>
      </div>
      <h3 class="feature-title">Premios Internacionales</h3>
      <div class="img-premio-container">
        <img src="img/premios/frankfurtGold.png" class="img-premio" alt="" />
      </div>
      <p>
        Galardonado con medalla de Oro en Frankfurt International Trophy 2018.
        Competición en Frankfurt - Alemania.
      </p>
    </div>

    <div class="feature-card">
      <div class="feature-icon">
        <i class="fas fa-award"></i>
      </div>
      <h3 class="feature-title">Premios Internacionales</h3>
      <div class="img-premio-container">
        <img src="img/premios/silverLyon.png" class="img-premio" alt="" />
      </div>
      <p>
        Galardonado con medalla de Plata en Concours International de Lyon 2019.
        Competición en Lyon - Francia.
      </p>
    </div>

  </div>
</section>