<!-- Hero section para detalle de producto -->
<section class="product-hero">
  <div class="product-image-container">
    <img
      src="img/catalogoProductos/vinoSecoNaranja.png"
      alt="Don Alejandro - Vino Tinto Reserva"
      class="product-image"
    />
    {{!-- <span class="product-badge">Reserva Especial</span> --}}
  </div>

  <div class="product-info">
    <h1 class="product-title">Vino Dulce de Naranja</h1>
    <h2 class="product-subtitle">Citrus × sinensis</h2>
    

    <p class="product-description">
      Es un vino dulce, de acidez media, con notas de aceite de la cascara de la naranja. 
      Se perciben notas de cereza, mora negra y ciruela negra, con
      una fruta madura casi confiturada. Los taninos son medios y el cuerpo
      también. Baja sensación fenólica con un paladar redondo.
    </p>

    <div class="product-details">
      <div class="detail-item">
        <span class="detail-label">Aspectos Visuales:</span>
        <span class="detail-value">Vino claro, color oro, con una concentración
          media\alta y lágrimas densas.</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Aspectos Aromáticos:</span>
        <span class="detail-value">Frutas cítricas y tropicales en condición
          fresca; piña, manzana amarilla, melón, aromas florales a flor de
          limón, margaritas, herbáceas a romero y tomillo y vegétales a pimiento
          verde.
        </span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Paladar:</span>
        <span class="detail-value">Un vino con textura aterciopelada leve,
          cuerpo abundante que desaparece con sutileza, su característica
          predominante es su acidez brillante y refrescante que crea un perfecto
          contraste con el cuerpo. Sensación a frutos tropicales y cítricos que
          crean sensaciones refrescantes y nectarinas.</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Maridajes:</span>
        <span class="detail-value">Ensalada Cesar, camarones al ajillo, langosta
          a la termidor, pollo asado, pavo, jamones y quesos, pasta Alfredo.</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Temperatura de Servicio Sugerida:</span>
        <span class="detail-value">Entre 8\10 centígrados</span>
      </div>
    </div>
  </div>
</section>

<!-- Sección de características -->
<section class="product-features">
  {{!-- <div class="section-header">
    <h2 class="section-title">Características Exclusivas</h2>
    <p class="section-subtitle">
      Descubre lo que hace especial al Don Alejandro
    </p>
  </div> --}}

  <div class="features-grid">
    {{!-- <div class="feature-card">
      <div class="feature-icon">
        <i class="fas fa-wine-bottle"></i>
      </div>
      <h3 class="feature-title">Elaboración Artesanal</h3>
      <p>
        Producido con métodos tradicionales y atención al detalle en cada etapa
        del proceso, desde la vendimia hasta el embotellado.
      </p>
    </div> --}}

    <!-- <div class="feature-card">
          <div class="feature-icon">
            <i class="fas fa-leaf"></i>
          </div>
          <h3 class="feature-title">Uvas Seleccionadas</h3>
          <p>
            Las uvas son cuidadosamente seleccionadas a mano de viñedos con más
            de 30 años de antigüedad, asegurando la máxima calidad.
          </p>
        </div> -->

    <div class="feature-card">
      <div class="feature-icon">
        <i class="fas fa-award"></i>
      </div>
      <h3 class="feature-title">Premios Internacionales</h3>
      <div class="img-premio-container">
        <img
          src="img/premios/bronzeMedal.png"
          class="img-premio"
          alt=""
        />
      </div>
      <p>
        Galardonado con medalla de Bronce en el China Wine & Spirits Awards
        2015. Competición en Hong Kong - China.
      </p>
    </div>

    <div class="feature-card">
      <div class="feature-icon">
        <i class="fas fa-award"></i>
      </div>
      <h3 class="feature-title">Premios Internacionales</h3>
      <div class="img-premio-container">
        <img
          src="img/premios/silverLondon.png"
          class="img-premio"
          alt=""
        />
      </div>
      <p>
        Galardonado con medalla de Plata en el London Tasting Awards 2025.
        Competición en Londres - Inglerra.
      </p>
    </div>
  </div>
</section>